<div id="<%= dom_id watch %>">
  <p>
    <strong>Name:</strong>
    <%= watch.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= watch.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= watch.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= watch.price %>
  </p>

  <p>
    <strong>Photo url:</strong>
    <%= watch.photo_url %>
  </p>

</div>
